@media all and (max-width: 1440px) {
    .intro__img {
        height: 400px;
    }
}

@media all and (max-width: 1124px) {
    .intro__img {
        width: 100%;
        height: 350px;
        flex-basis: 35%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .intro__text,
    .works__item_mob,
    .works__item_frame,
    .works__item_night {
        margin-right: 0px;
    }
    .intro__items {
        flex-direction: column;
        justify-content: flex-start;
    }

    .logo__img {
        height: 140px;
    }

    .social__item>svg {
        width: 40px;
        height: 40px;
    }
}

@media all and (max-width: 920px) {
    .works__item {
        /*margin-right: 0;*/
        width: max-content;
        height: 400px;
    }

    .intro__items {
        flex-direction: column;
        justify-content: flex-start;
    }

    /*.intro__img {
        width: 300px;
        height: 300px;
        flex-basis: auto;
        margin-bottom: 30px;
        padding-right: 0px;
    }*/

    .btn__item,
    .btn__item_dark {
        padding: 20px 5%;
    }
}

@media (max-width: 850px) {
    header,
    footer {
        padding: 20px 10%;
    }
    .title {
        font-size: 49px;
    }
}

@media all and (max-width: 840px) {
    .social__item>svg {
        width: 30px;
        height: 30px;
    }

    .logo__img {
        height: 120px;
    }

    .btn__item,
    .btn__item_dark {
        font-size: 16px;
    }
}

@media all and (max-width: 551px) {
    .title {
        font-size: 39px;
    }

    .subtitle {
        font-size: 39px;
    }

    .works__text,
    .view-contacts__text,
    .skills__items,
    .skills__text {
        width: 100%;
    }

    .works__item {
        margin-right: 0;
        width: max-content;
        height: 370px;
    }

    .footer___items,
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__item,
    .footer__item-logo {
        margin-bottom: 30px;
    }

    .social__items {
        width: 60%;
    }

    header,
    footer {
        padding: 20px 5%;
    }
}

@media all and (max-width: 428px) {
    .works__item {
        height: 270px;
    }

    .menu__btn {
        right: 70px;
    }
}

@media all and (max-width: 428px) {
    .logo__img {
        height: 100px;
    }

    .title {
        font-size: 29px;
    }

    .subtitle {
        font-size: 31px;
    }

    /*.intro__img {
        width: 280px;
        height: 280px;
    }*/

    .p_center {
        padding: 100px 6.7%;
    }

    header,
    footer {
        padding: 20px 6.7%;
    }

    .menu__btn {
        right: 25px;
    }
}